<h1>Voici la liste des restaurants</h1>
<ol>

    <% @restaurants.each do |restaurant| %>
        <li class= "m-3 p-1 h3">
        <%= link_to restaurant.name, restaurant_path(restaurant) %>
        </li>

    <% end %>

</ol>


<%= link_to "Add a restaurant", new_restaurant_path %>
